body {
  background-color: black;
  font-family:monospace
  font-size: x-large

}

body {
  color: red;
  
}

.image-1 {
  width: 200px;
  border width: 800px;
  border-color: red;
  border-style: solid;
  border-radius: 10px;

}

h1 {
  color: white;
}

a {
  color: white;
}

h2 {
  color: white;
  
}

li {
 font-size: xx-large; 
 font-family: "playball"
}

.image-2 {
  border-radius: 40px;
  max-width: 500px; 
}

.image-3 {
  max-width: 500px;
  max-height: auto; 
  border-radius: 50px;  
}

.image-4 {
  max-width: 400px;
  max-height: auto; 
  border-radius: 50px;  
} 

.image-5 {
  max-width: 400px;
  max-height: auto; 
  border-radius: 50px;  
}

.image-6 {
  max-width: 900px;
  max-height: auto; 
  border-radius: 50px;  
}

div{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small
}